<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <partial name="./AdminPage/_HeaderPartial" />
    <title>@ViewBag.Title</title>
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <partial name="./AdminPage/_SidebarPartial" />
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            
                
                <partial name="./AdminPage/_TopbarPartial" />
                @RenderBody()

            
        </div>
    </div>

            <!-- End of Page Wrapper -->
            <partial name="./AdminPage/_FooterPartial" />
</body>
</html>
